html {
  margin:0;
  padding:0;
  border:0;
}
/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white;
  margin: 0;
  overflow: hidden;
}

div {
  padding: 0;
  margin: 0;
}

.button {
  border: 0px solid black;
  width: 84px;
  height: 23px;
  cursor: pointer; 
}

/*fb page*/
.tab {
  width: 520px;
  height: 100%;
  position: absolute;
  background-color:#ffffff;
}

.tab #index {
  height: inherit;
  background:#ffffff url('../images/tab-index.png') no-repeat left top;
}

#index .button#participate {
  position: absolute;
  left: 385px;
  top: 446px  
}

