#{extends 'app.html' /}
#{set title:messages.get('app.org.title') /}
#{set noFooter:'' /}

<script type="text/javascript">
	$(document).ready(function() {
	  $('.tab').click(function() {
	    jlz.switchTab(this);
	  });
	});
</script>

<div id="org">
  <div class="big title">${o.name}</div>
  <div class="org-holder">
    <div class="logo gradient-grey shadow">
      <div class="logo-inner">
        <img src="@{'/public/images/org-logo-test.png'}"/>
      </div>
    </div>
    
    <div class="org-fb-outer">
      <p class="small">x People like this<p>
      <div class="fb-like">
       I Like ;-)
      </div>
    </div>
    
    <button class="button small">Spenden</button>
    
    
  </div>
  
  <div class="desc-holder">
    <ul class="tabs">
      <li class="tab medium first active">Info</li>
      <li class="tab medium ">Aktuelles Projekt</li>
    </ul>
    
    <div style="clear: both;"></div>
    
    <div class="tab-content gradient-lgrey shadow">
        ${o.description}
    </div>
  </div>
  
  <div style="clear: both;"></div>
  
  <div class="banner small gradient-lgrey shadow">
    Gefällt dir die Organisation? Unterstütze Sie indem du sie bekannter machst und ins Gespräch bringst!
    <div id="corner-right"></div>
    <div id="corner-left"></div>
  </div>
  
  <div id="share">
    Share some stuff on Facebook
  </div>
  <button class="button small" style="float:right">Share</button>

</div>
