<!DOCTYPE html>
<html lang="de">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8" />
        <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main-16px.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/fb-icon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
      <div id="fb-root"></div>
      <script type="text/javascript">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '241925899195420', // App ID
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            oauth      : true, // enable OAuth 2.0
            xfbml      : false  // parse XFBML
          });
      
          //channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File (optional)
          // Additional initialization code here
          FB.Canvas.setSize({height: '1000px'});
        };
      
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "http://connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
      </script>
      <div id="wrapper">
        <header>
          <a href="@@{App.index()}">
            <img class="logo" src="@{'/public/images/logo.png'}"/>
          </a>
          <h3 class="title">
            &{'app.header-title'}
          </h3>
        </header>
        <div id="content">
          #{doLayout /}
        </div>
        <footer>
          <div class="footer-inner">
            <a class="link first small" href="#">Über uns</a>
            <a class="link small" href="#">Roger</a>
            <a class="link small" href="#">Cédric</a>
            <a class="link small" href="#">Über uns</a>
          </div>
        </footer>
      </div>        
    </body>
</html>
